.HeadBar{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .login{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    img{
        width: 150px;
    }
    span{
        font-size: 18px;
        color: white;
    }
}